html, 
body{
  height: fit-content;
  overflow: hidden;
  margin: 0;
}

@font-face {
  font-family: Mulish;
  src: url(./Mulish.ttf);
}

*{
	font-family: 'Mulish', sans-serif;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a{
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

header{
	width: 100%;
	height: 100px;
	z-index: 999;
	background-color: lightgray;
	border: 1px solid darkgray;
	position: fixed;
	top: 0;
	display: flex;
  align-items: center;
  padding: 0 1.5rem;
}

.react-logo{
  height: 70px;
  margin-right: 0.5rem;
}

.arcus-logo {
	height: 80px;
  margin-right: 1.5rem;
}

.map-container{
  width: 100vw;
  height: 100%;
  margin-top: 100px;
  object-fit: fill;
  overflow: hidden;
}

.map{
  width: 100%;
}

.marker {
  z-index: 999;
  background-color: #FFF;
  border: 2px solid lightgray;
  position: absolute;
  font-size: 12px;
}

.marker svg {
  display: block;
  margin: 0 auto;
  font-size: 16px;
}

.marker.marker-1 svg {
  margin-top: 4px;
  margin-bottom: -2px;
}

.marker-1 {
  width: 40px;
  height: 40px;
  display: grid;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  left: 81px;
}

.arrow-marker1 {
  position: absolute;
  left: 30px;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 72px solid darkgray;
  z-index: 1;
  top: 111px;
  transform: rotate(197deg);
}

.marker.marker-2 {
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  font-size: 10px;
  font-weight: 600;
  color: darkgreen;
}

.marker-2 svg {
  margin-bottom: 2px;
}

.arrow-marker2 {
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 88px solid darkgray;
  z-index: 1;
  top: 121px;
  position: absolute;
  right: 48px;
}

div.circTxt {
  display: inline-block;
  margin-bottom: 10px;
  color: darkgreen;
}


.marker-3 {
  width: 40px;
  height: 40px;
  display: grid;
  text-align: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 900;
  left: 50px;
  top: 330px;
}

.arrow-marker3 {
  width: 0;
  height: 0;
  border-top: 1px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 60px solid darkgray;
  z-index: 1;
  bottom: 261px;
  position: absolute;
  left: 55px;
  transform: rotate(219deg);
}

.marker-user {
  background-color: transparent;
  border: none;
}

.marker-user svg{
  font-size: 20px;
}

@media only screen and (min-width: 1024px) {
}